/* 
primary color :  #fff2d8,  yellow
secondary color : #9a2526, red 
*/

.logo-cover{
    display: flex;
    justify-content: center;
}
:where(.css-dev-only-do-not-override-3mqfnx).ant-modal-confirm .ant-modal-confirm-content{
    color: #f7cd5b;

}
:where(.css-dev-only-do-not-override-3mqfnx).ant-modal-confirm .ant-modal-confirm-title{
    color: white;
}

:where(.css-dev-only-do-not-override-3mqfnx).ant-modal-confirm .ant-modal-confirm-btns .ant-btn+.ant-btn{
    background:#f7cd5b ;
    color: #9a2526;
}

:where(.css-dev-only-do-not-override-3mqfnx).ant-btn-default {
    border-color: #f7cd5b;
    color: #f7cd5b;
}

:where(.css-dev-only-do-not-override-3mqfnx).ant-btn-default:hover {
    border-color: #f8dc8e !important;
    color: #f8dc8e !important;
}


:where(.css-dev-only-do-not-override-3mqfnx).ant-modal-confirm-warning .ant-modal-confirm-body>.anticon, :where(.css-dev-only-do-not-override-3mqfnx).ant-modal-confirm-confirm .ant-modal-confirm-body>.anticon {
    display: none;
}

@media(max-width:1040px){

    .responsive-menu{
        display: none;
    }

    .logo-cover{
        justify-content: start;
    }

    
    .logo-mobile{
        width: 20%;
    }
    .outer-menu{
        padding-top: 50px;
        text-align: left;
        position: relative;
    }

    .socialmedia-outer{
        position: absolute;
        bottom: 100px;
    }
}
